<div class="home">
  <div class="center d-flex justify-content-center align-items-center">
    <h1 class="red">Action Movies</h1>
  </div>
  <div class="container">
    <div class="row">
      @for (onemovie of homemovie ; track $index) {

      <div class="col-md-4">
        <div>
          <img class="w-100" [src]="imgpath + onemovie.poster_path" alt="" />
          <h2>{{ onemovie.title ? onemovie.title : onemovie.name }}</h2>
          <p class="">
            {{ onemovie.overview?.split(" ")?.slice(0, 10)?.join(" ") }}
          </p>
          <span> vote :{{ onemovie.vote_average }}</span>
        </div>
      </div>
      }
    </div>
  </div>
</div>
